<h1>Blog Template</h1>
<hr>
<a href="/new_post">New Post</a>

<hr>
<br>
<h2>Tarkkaan Kuratoitu Sisältö</h2>

{% for post in posts %}
    <!-- Display date -->
    {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }} -

    <!-- Embed video -->
    {% if post.youtube_url %}
        <iframe width="560" height="315"
                src="{{ post.youtube_url }}"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    {% endif %}

    <!-- Display comment -->
    <p>{{ post.breadtext }}</p>
    
    <br>
{% endfor %}